*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: normal;

  background-position: center;
  background-size: 50% cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-image: url('../images/main_b-c.png');

  // @media screen and (min-width: 767.98px) {
  //   background-image: url('../images/main_b-c_tabl.png');
  // }

  // @media screen and (min-width: 1200px) {
  //   background-image: url('../images/main_b-c.png');
  // }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3 {
  font-family: 'Seymour One', sans-serif;
}

button {
  cursor: pointer;
}
