*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  // font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
