*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/main_b-c.png');
  background-position: center;
  background-size: contain;
  font-size: 14px;
  letter-spacing: 0em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

h1,
h2,
h3 {
  font-family: 'Seymour One', sans-serif;
}

button {
  cursor: pointer;
}
