// UTILS
@import './common';
@import './utils/reset';
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/btn';
@import './utils/placeholders';

// BASE
@import './base/container';
@import './base/global';
@import './base/modal';


// COMPONENTS
@import './components/products_modal';
@import './components/modal-franchise';
@import './components/modal-locations';
@import './components/modal-about';
@import './components/buy-now_modal';




// LAYOUTS
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/benefits';
@import './layouts/gallery';
@import './layouts/reviews';
@import './layouts/contacts';
@import './layouts/footer';
@import './layouts/mobile-menu';
