%modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transition: 250ms all;
  transform: translate(-50%, -50%);
  z-index: 10001;
  width: 280px;
  padding: 28px;
  height: auto;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
  }

  background-color: $text-wh;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid $text-ye;
}

%modal_info {
  line-height: 140%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
