// BACKGROUND-COLORS

$primary_b-c: #84a178;

$transparent_b-c: rgba(255, 255, 255, 0.016);

$card1_b-c: #aec6a5;
$card1_b-c-photo: linear-gradient(
  0deg,
  rgba(156, 190, 143, 0.7),
  rgba(156, 190, 143, 0.7)
);

$card2_b-c: #efd478;
$card2_b-c-photo: linear-gradient(
  0deg,
  rgba(248, 210, 78, 0.7),
  rgba(248, 210, 78, 0.7)
);

$card3_b-c: #d6936d;
$card3_b-c-photo: linear-gradient(
  0deg,
  rgba(213, 117, 63, 0.7),
  rgba(213, 117, 63, 0.7)
);

$for_cow: linear-gradient(
  0deg,
  rgba(248, 210, 78, 0.7),
  rgba(248, 210, 78, 0.7)
);

$contacts_title-b-c: #f8d24e;

$slider_btn: #d9d9d9;

// TEXT COLORS
$text-bl: #131313;
$text-wh: #fcfcfc;
$text-ye: #f8d24e;
$for_contacts: #d6936d;
$for_contacts-gr: #ababab;
$footer: #7a7a7a;

// OTHER

$logo: #f8d24e;
$btn-def: #f8d24e;
$btn-h_f: #0a8817;
$btn-dis: #ababab;
$icon_fill: #f8d24e;
$burger_close: #fcfcfc;
$border_modal: #f8d24e;
$border-contacts-card: #e1e1e1;
$border-color-invalid: red;
$border-color-valid: green;
$pink-product: #dd9aae;
$ice-coffe-product: #b88a35;

$background-modal-franchise: rgba(248, 210, 78, 0.1);
$background-modal-backdrop: rgba(122, 118, 118, 0.6);
