// BACKGROUND-COLORS

$primary_b-c: #84a178;

$card1_b-c: #aec6a5;
$card1_b-c-photo: linear-gradient(
  0deg,
  rgba(156, 190, 143, 0.7),
  rgba(156, 190, 143, 0.7)
);

$card2_b-c: #efd478;
$card2_b-c-photo: linear-gradient(
  0deg,
  rgba(248, 210, 78, 0.7),
  rgba(248, 210, 78, 0.7)
);

$card3_b-c: #d6936d;
$card3_b-c-photo: linear-gradient(
  0deg,
  rgba(213, 117, 63, 0.7),
  rgba(213, 117, 63, 0.7)
);

$for_cow: linear-gradient(
  0deg,
  rgba(248, 210, 78, 0.7),
  rgba(248, 210, 78, 0.7)
);

$contacts_title-b-c: #f8d24e;

// TEXT COLORS
$text-bl: #131313;
$text-wh: #fcfcfc;
$text-ye: #f8d24e;
$for_contacts: #d6936d;
$for_contacts-gr: #ababab;
$footer: #7a7a7a;

// OTHER

$logo: #f8d24e;
$btn-def: #f8d24e;
$btn-h_f: #0a8817;
$btn-dis: #ababab;
$icon_fill: #f8d24e;
$burger_close: #fcfcfc;
$border_modal: #f8d24e;
