<div class="modal buy-now_modal" data-modal="5">
  <button type="button" class="modal_button-close js-modal-close">
    <svg class="modal_close-icon">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
  <h3 class="buy-now_modal--title">Buy now</h3>
  <ul class="buy-now-list list">
    <li class="buy-now_component buy-green">
      <div class="buy-now--image-block block-green">
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/card1_lg-@1x_result.png 1x,
              ./images/products/card1_lg-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/card1_md-@1x_result.png 1x,
              ./images/products/card1_md-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/card1_sm-@1x_result.png 1x,
              ./images/products/card1_sm-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <img
            class="buy-now_image"
            src="./images/products/card1_sm-@1x_result.png"
            alt="Three different ice-creams"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="buy-now_name">ice cream</p>
    </li>
    <li class="buy-now_component buy-yellow">
      <div class="buy-now--image-block block-yellow">
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/card2_lg-@1x_result.png 1x,
              ./images/products/card2_lg-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/card2_md-@1x_result.png 1x,
              ./images/products/card2_md-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/card2_sm-@1x_result.png 1x,
              ./images/products/card2_sm-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <img
            class="buy-now_image"
            src="./images/products/card2_sm-@1x_result.png"
            alt="The glass of icecoffee"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="buy-now_name">ice coffee</p>
    </li>
    <li class="buy-now_component buy-brown">
      <div class="buy-now--image-block block-brown">
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/card3_lg-@1x_result.png 1x,
              ./images/products/card3_lg-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/card3_md-@1x_result.png 1x,
              ./images/products/card3_md-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/card3_sm-@1x_result.png 1x,
              ./images/products/card3_sm-@2x_result.png 2x
            "
            type="image/jpg"
          />
          <img
            class="buy-now_image"
            src="./images/products/card3_sm-@1x_result.png"
            alt="Sweet drinks in glass"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="buy-now_name">milkshake</p>
    </li>
  </ul>

  <form class="buy-now_form">
    <input
      class="buy-now_form-input-name"
      type="text"
      name="user-name"
      required
      placeholder="Name"
      minlength="3"
      pattern="^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$|^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+(\s|,)[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$"
      title="Name should contain at least 3 characters"
    />

    <input
      class="buy-now_form-input-tel"
      type="tel"
      name="number"
      placeholder="Phone"
      required
      pattern="[0-9]{12}"
      minlength="12"
      maxlength="12"
      title="Phone number should contain at least 12 number digits"
    />

    <textarea
      class="buy-now_form-textarea"
      name="feedback"
      rows="5"
      placeholder="Comment"
    ></textarea>

    <button class="buy-now_form-button btn" type="submit">Submit</button>
  </form>
</div>
<div class="backdrop js-overlay-modal"></div>
