<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts_cards-set">
      <li
        class="contact-card-container"
        data-aos="zoom-in-right"
        data-aos-duration="500"
      >
        <p class="card-category-name">Cafe</p>
        <div class="card-partial">
          <p class="card-city-name">Chicago</p>
          <a
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            class="link card-city-link"
            >10340 Ridgeland Ave,<br />Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <div class="card-partial">
          <p>Monday - Friday</p>
          <span class="card-partial_working-hours">06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span class="card-partial_working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <ul class="list contact-card_links">
          <li>
            <a href="tel:+610383766284" class="contact-card_links link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact-card_links link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li
        class="contact-card-container"
        data-aos="zoom-in-right"
        data-aos-duration="500"
        data-aos-delay="100"
      >
        <p class="card-category-name name-foodtruck">Foodtruck</p>
        <div class="card-partial">
          <p class="card-city-name">Los Angeles</p>
          <a
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            class="link card-city-link"
            >1003 Manhattan Ave, Manhattan<br />
            Beach, CA 90263, USA</a
          >
        </div>
        <div class="card-partial">
          <p>Monday - Friday</p>
          <span class="card-partial_working-hours">06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span class="card-partial_working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <ul class="list contact-card_links">
          <li>
            <a href="tel:+610383766284" class="contact-card_links link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact-card_links link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li
        class="contact-card-container"
        data-aos="zoom-in-right"
        data-aos-duration="500"
        data-aos-delay="150"
      >
        <p class="card-category-name">Cafe</p>
        <div class="card-partial">
          <p class="card-city-name">New York</p>
          <a
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            class="link card-city-link"
            >726 Sterling Pl, Brooklyn,<br />
            NY 11222, USA</a
          >
        </div>
        <div class="card-partial">
          <p>Monday - Friday</p>
          <span class="card-partial_working-hours">06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span class="card-partial_working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <ul class="list contact-card_links">
          <li>
            <a href="tel:+610383766284" class="contact-card_links link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact-card_links link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list contacts_button-list">
      <li>
        <button
          type="button"
          class="js-open-modal btn btn--ourlocations contacts_button"
          data-modal="2"
        >
          Our Locations

          <svg
            width="12px"
            height="12px"
            class="contacts_button-icon locations-icon"
          >
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="js-open-modal btn btn--franchise contacts_button"
          data-modal="3"
        >
          Franchise
          <svg
            width="12px"
            height="12px"
            class="contacts_button-icon franchise-icon btn_icon"
          >
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
