<footer class="footer section">
  <div class="footer_container">
    <div class="footer_box container">
      <p class="footer_title">
        homemade ice cream made<span class="footer_title footer_title--lower"
          >with passion</span
        >
      </p>
      <div class="footer_media">
        <ul class="footer_list list">
          <li class="footer_item">
            <a class="footer_link" href="">
              <svg class="footer_icon" width="32" height="32">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer_item">
            <a class="footer_link" href="">
              <svg class="footer_icon" width="32" height="32">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer_item">
            <a class="footer_link" href="">
              <svg class="footer_icon" width="32" height="32">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer_tel">
          Feel free to contact
          <a class="footer_tel-link link" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="footer_copytext">&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
