<section class="hero section">
  <div class="container">
    <h1 class="page-title">
      ice cream <br />
      made with <span class="page-title_part">passion</span>
    </h1>
    <ul class="hero-list list">
      <button class="btn btn--products">Products</button>
      <button class="btn btn--howmade">How it's made?</button>
    </ul>
    <div class="hero_plate">
      <img
        class="plate_img"
        src="./images/hero/plate_md-@1x_result.png"
        alt=""
        height="152"
        width="152"
      />
      <p class="hero_plate-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
  </div>
</section>
