<section class="hero section">
  <div class="container">
    <h1 class="page-title animate__animated animate__bounceInLeft">
      ice cream <br />
      made with <span class="page-title_part">passion</span>
    </h1>
    <div class="hero-list">
      <button class="btn btn--products">Products</button>
      <button class="btn btn--howmade btn--hero">How it's made?</button>
    </div>
    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/big-ice-cream_lg-@1x_result.png 1x,
          ./images/hero/big-ice-cream_lg-@2x_result.png 2x
        "
        type="image/png"
      />

      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/big-ice-cream_md-@1x_result.png 1x,
          ./images/hero/big-ice-cream_md-@2x_result.png 2x
        "
        type="image/png"
      />

      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/big-ice-cream_sm-@1x_result.png 1x,
          ./images/hero/big-ice-cream_sm-@2x_result.png 2x
        "
        type="image/png"
      />

      <img
        class="big-icecream animate__animated animate__backInRight"
        src="./images/hero/big-ice-cream_sm-@1x_result.png"
        alt="Icecream"
        loading="lazy"
      />
    </picture>

    <div class="hero_plate">
      <picture>
        <!-- Desctop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/plate_lg-@1x_result.png 1x,
            ./images/hero/plate_lg-@2x_result.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/plate_md-@1x_result.png 1x,
            ./images/hero/plate_md-@2x_result.png 2x
          "
          type="image/png"
        />

        <img
          class="plate_img"
          src=" ./images/hero/plate_md-@1x_result.png"
          alt="Icecream plate"
          loading="lazy"
        />
      </picture>
      <div class="hero_plate-desc">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="products_arrow arrow--hero" width="40px" height="16px">
          <use href="./images/icons.svg#icon-default_arrow"></use>
        </svg>
      </div>
      <div class="places-number">
        <p class="places-number_num">16</p>
        <p class="places-number_names">cafes</p>
        <p class="places-number_num">23</p>
        <p class="places-number_names">food trucks</p>
      </div>
    </div>
  </div>
</section>
