<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-nav">
    <a href="#">
      <!-- Tablet screen -->
<picture>
        <source media="(min-width: 768px)"
          srcset="./images/hero/logo_md-@1x_result.png 1x, ./images/hero/logo_md-@1x-1_result.png 2x" type="image/png" />
  
        <!-- Mobile screen -->
        <source media="(max-width: 767px)"
          srcset="./images/hero/logo_sm-@1x_result.png 1x, ./images/hero/logo_sm-@2x_result.png 2x" type="image/png" />
  
        <img class="logo" src="./images/hero/logo_sm-@1x_result.png" alt="Logo Icecream" loading="lazy" />
</picture>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="menu-icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-hrest"></use>
      </svg>
    </button>
  </div>

  <div class="modal_menu">
    <ul class="menu">
      <li class="menu_item">
        <a class="link menu_link" href="#">Home</a>
      </li>
      <li class="menu_item">
        <a class="link menu_link" href="#about">How it's made?</a>
      </li>
      <li class="menu_item">
        <a class="link menu_link" href="#products">Our Products</a>
      </li>
      <li class="menu_item">
        <a class="link menu_link" href="#contacts">Contact</a>
      </li>
    </ul>
    <button class="btn btn--buynow btn--menu js-open-modal" data-modal="5" type="button">
      Buy now
        <svg class="btn_icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow_right"></use>
        </svg>
    </button>
  </div>
</div>