<div class="modal modal-contacts" data-modal="2">
  <p class="modal_title">Our Locations</p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5173.38792835319!2d34.565173!3d49.5846615!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f61d69d0883%3A0xa88a41fe6cb78c72!2sPylypa%20Orlyka%20St%2C%205%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1665593402134!5m2!1sen!2sua"
    style="border: 0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="modal_map-frame"
  ></iframe>
  <button type="button" class="btn modal_button">Open map</button>
  <button type="button" class="modal_button-close">
    <svg class="modal_close-icon js-modal-close">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
</div>
<div class="backdrop js-overlay-modal"></div>
