<div class="modal about_modal" data-modal="1">
  <p class="modal_title">How it's made</h3>
  <div class="modal-about_video-group">
  <iframe
    class="video"
    src="https://www.youtube.com/embed/nzgltMTokw8"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media;  picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="about_modal_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
  <button type="button" class="modal_button-close js-modal-close">
    <svg class="modal_close-icon">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
</div>
<div class="backdrop js-overlay-modal"></div>
