<div class="modal products_modal" data-modal="7">
  <button type="button" class="modal_button-close js-modal-close">
    <svg class="modal_close-icon">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
  <p class="modal_title products_modal--title">Strawberry milkshake</p>
  <div class="products_modal--image-block image-block--pink">
    <picture>
      <!-- Desktop & mobile screen -->

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/modal/product_modal-3@1x_result.png 1x,
          ./images/modal/product_modal-3@2x_result.png 2x
        "
        type="image/jpg"
      />

      <!-- Mobile screen -->

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/modal/product_modal-3@1x_result.png 1x,
          ./images/modal/product_modal-3@2x_result.png 2x
        "
        type="image/jpg"
      />

      <img
        class="products_modal--image"
        src="./images/modal/product_modal-3@1x_result.png"
        alt="Chololate icecream"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="products_modal-content">
    <ul class="products_components-list list">
      <li class="products_component products_component--pink">
        <div class="component_part image-block--pink">
          <p class="component_value">450</p>
        </div>
        <p class="component_name">kcal</p>
      </li>
      <li class="products_component products_component--pink">
        <div class="component_part image-block--pink">
          <p class="component_value">11.4g</p>
        </div>
        <p class="component_name">Prote...</p>
      </li>
      <li class="products_component products_component--pink">
        <div class="component_part image-block--pink">
          <p class="component_value">9g</p>
        </div>
        <p class="component_name">Fats</p>
      </li>
      <li class="products_component products_component--pink">
        <div class="component_part image-block--pink">
          <p class="component_value">45g</p>
        </div>
        <p class="component_name">Carbs</p>
      </li>
    </ul>
    <p class="recipe--title">Ingredients</p>
    <ul class="recipe_list list">
      <li class="recipe_item">
        <p class="recipe_ingredient">Milk</p>
        <p class="recipe_ingredient">100ml</p>
      </li>
      <li class="recipe_item">
        <p class="recipe_ingredient">Fresh strawberries</p>
        <p class="recipe_ingredient">40g</p>
      </li>
      <li class="recipe_item">
        <p class="recipe_ingredient">Cream</p>
        <p class="recipe_ingredient">150 ml</p>
      </li>
      <li class="recipe_item">
        <p class="recipe_ingredient">Sugar</p>
        <p class="recipe_ingredient">40g</p>
      </li>
      <li class="recipe_item">
        <p class="recipe_ingredient">Vanilla syrup</p>
        <p class="recipe_ingredient">10g</p>
      </li>
      <li class="recipe_item">
        <p class="recipe_ingredient">Strawberry syrup</p>
        <p class="recipe_ingredient">20g</p>
      </li>
    </ul>

    <form class="products_form">
      <input
        class="products_form-input-name"
        type="text"
        name="name"
        required
        placeholder="Name"
        minlength="3"
        pattern="^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$|^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+(\s|,)[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$"
        title="Name should contain at least 3 characters"
      />

      <input
        class="products_form-input-tel"
        type="tel"
        name="number"
        required
        placeholder="Phone"
        pattern="[0-9]{12}"
        minlength="12"
        maxlength="12"
        title="Phone number should contain at least 12 number digits"
      />

      <textarea
        class="products_form-textarea"
        name="feedback"
        rows="5"
        placeholder="Comment"
      ></textarea>

      <button class="modal_button products_form-button btn" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
<div class="backdrop js-overlay-modal" data-modal="6"></div>
