<div class="about_modal container">
  <h3>How it's made</h3>
  <div class="video_container">
    <iframe
      class="video"
      src="https://www.youtube.com/embed/nzgltMTokw8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media;  picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <p class="about_modal_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
  <button type="button" class="close_button">
    <svg class="close-icon" width="32px" height="32px">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
</div>
