<div class="modal products_modal" data-modal="4">
  <button type="button" class="modal_button-close js-modal-close">
    <svg class="modal_close-icon">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
  <p class="modal_title products_modal--title">Chololate icecream</p>
        <div class="products_modal--image-block">
            <img
          class="products_modal--image"
          src="./images/products/card2_sm-@1x_result.png"
          alt="The glass of icecoffee"
          loading="lazy"
        />
        </div>
  <div class="products_modal-content">
        <ul class="products_components-list list">
            <li class="products_component">
                <div class="component_part">
                    <p class="component_value">320</p>
                </div>
                <p class="component_name">kcal</p>
            </li>
            <li class="products_component">
                <div class="component_part">
                    <p class="component_value">4g</p>
                </div>
                <p class="component_name">Prote...</p>
            </li>
            <li class="products_component">
                <div class="component_part">
                    <p class="component_value">8,2g</p>
                </div>
                <p class="component_name">Fats</p>
            </li>
            <li class="products_component">
                <div class="component_part">
                    <p class="component_value">40,4g</p>
                </div>
                <p class="component_name">Carbs</p>
            </li>
        </ul>
        <p class="recipe--title">Ingredients</p>
        <ul class="recipe_list list">
            <li class="recipe_item">
                <p class="recipe_ingredient">Milk</p>
                <p class="recipe_ingredient">100ml</p>
            </li>
            <li class="recipe_item">
                <p class="recipe_ingredient">Belgian chocolate</p>
                <p class="recipe_ingredient">20g</p>
            </li>
            <li class="recipe_item">
                <p class="recipe_ingredient">Cream</p>
                <p class="recipe_ingredient">150 ml</p>
            </li>
            <li class="recipe_item">
                <p class="recipe_ingredient">Cocoa powder</p>
                <p class="recipe_ingredient">30g</p>
            </li>
            <li class="recipe_item">
                <p class="recipe_ingredient">Sugar</p>
                <p class="recipe_ingredient">40g</p>
            </li>
            <li class="recipe_item">
                <p class="recipe_ingredient">Vanilla sugar</p>
                <p class="recipe_ingredient">10g</p>
            </li>

        </ul>

    <form class="products_form">

    <input class="products_form-input-name" type="name" name="name" id="products_name" required placeholder="Name" />

    <input class="products_form-input-tel" type="tel" name="number" id="products_number" required placeholder="Phone" />

    <textarea class="products_form-textarea" name="feedback" rows="5" id="products_comment" placeholder="Comment"></textarea>

    <button class="modal_button products_form-button btn" type="submit">Submit</button>
    </form>
  </div>
</div>
<div class="backdrop js-overlay-modal" data-modal="4"></div>