<div class="modal modal-contacts" data-modal="3">
  <p class="modal_title">
    Thank you for your interest in owning an Ice Cream shop
  </p>
  <p class="modal_info">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form class="form-franchise">
    <label>
      <input
        id="user-name"
        type="text"
        class="form-franchise_label"
        name="username"
        placeholder="Name"
        required
        minlength="3"
        pattern="^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$|^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+(\s|,)[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+$"
        title="Name should contain at least 3 characters"
      />
    </label>
    <label>
      <input
        id="user-tel"
        type="tel"
        class="form-franchise_label"
        name="user_phone"
        placeholder="Phone"
        required
        pattern="[0-9]{12}"
        minlength="12"
        maxlength="12"
        title="Phone number should contain at least 12 number digits"
      />
    </label>
    <label>
      <input
        id="user-mail"
        type="email"
        class="form-franchise_label"
        name="user_mail"
        placeholder="Email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      />
    </label>
    <div class="franchise_textarea-group">
      <label class="form-franchise-group">
        <textarea
          name="comment"
          class="form-franchise_label form-franchise-textarea"
          rows="5"
          placeholder="Comment"
        ></textarea>
      </label>
    </div>
    <button type="submit" class="btn modal_button">Submit</button>
  </form>
  <button type="button" class="modal_button-close">
    <svg class="modal_close-icon js-modal-close">
      <use href="./images/icons.svg#icon-hrest"></use>
    </svg>
  </button>
</div>
<div class="backdrop js-overlay-modal"></div>
