<div class="products_backdrop" data-modal>
    <div class="container">
        <div class="products_modal">
            <button class="products_modal-close" data-modal-close><svg width="20px" height="20px" class="products_close-icon"><use href="./images/icons.svg#icon-hrest"></use></svg></button>
                <h3 class="products_modal--title">Chololate icecream</h3>
                <div class="products_modal--image-block">
                    <img
                  class="products_modal--image"
                  src="./images/products/card2_sm-@1x_result.png"
                  alt="The glass of icecoffee"
                  loading="lazy"
                />
                </div>
                <ul class="products_components-list list">
                    <li class="products_component">
                        <div class="component_part">
                            <p class="component_value">320</p>
                        </div>
                        <p class="component_name">kcal</p>
                    </li>
                    <li class="products_component">
                        <div class="component_part">
                            <p class="component_value">4g</p>
                        </div>
                        <p class="component_name">Prote...</p>
                    </li>
                    <li class="products_component">
                        <div class="component_part">
                            <p class="component_value">8,2g</p>
                        </div>
                        <p class="component_name">Fats</p>
                    </li>
                    <li class="products_component">
                        <div class="component_part">
                            <p class="component_value">40,4g</p>
                        </div>
                        <p class="component_name">Carbs</p>
                    </li>
                 
                </ul>
                <p>Ingredients</p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>








        
            
            <form class="products_form">
                <div class="products_form-field">
            <label class="products_form-label" for="products_name"></label>
            <input class="products_form-input name" type="name" name="name" id="products_name" required placeholder="Name" />
               </div>

                <div class="products_form-field">
            <label class="products_form-label" for="products_number"></label>
            <input class="products_form-input" type="tel" name="number" id="products_number" required placeholder="Phone" />
                </div>
                <div class="products_form-field">
            <label class="products_form-label" for="feedback"></label>
            <textarea class="products_form-textarea form-input" name="feedback" rows="5" id="products_comment" placeholder="Comment"></textarea>
                </div>
            <button class="products_form-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>