<section class="products section" id="products">
  <div class="container">
    <div class="products_title">
      <h2
        class="products_title--name"
        data-aos="zoom-in"
        data-aos-duration="700"
      >
        products
      </h2>
      <p
        class="products_title--description"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="100"
      >
        100% natural
      </p>
    </div>
    <ul class="products_list">
      <li
        class="products_card card-green"
        data-aos="flip-up"
        data-aos-duration="700"
        data-aos-delay="100"
      >
        <div class="products_image--block">
          <picture>
            <!-- Desktop screen -->

            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products/card1_lg-@1x_result.png 1x,
                ./images/products/card1_lg-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/card1_md-@1x_result.png 1x,
                ./images/products/card1_md-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/card1_sm-@1x_result.png 1x,
                ./images/products/card1_sm-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <img
              class="products_image"
              src="./images/products/card1_sm-@1x_result.png"
              alt="Three different ice-creams"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="products_card--name">ice cream</h3>
        <p class="products_card--description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products_arrow js-open-modal" data-modal="4">
          <svg width="40px" height="16px">
            <use href="./images/icons.svg#icon-default_arrow"></use>
          </svg>
        </button>
      </li>
      <li
        class="products_card card-yellow"
        data-aos="flip-up"
        data-aos-duration="700"
        data-aos-delay="150"
      >
        <div class="products_image--block">
          <picture>
            <!-- Desktop screen -->

            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products/card2_lg-@1x_result.png 1x,
                ./images/products/card2_lg-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/card2_md-@1x_result.png 1x,
                ./images/products/card2_md-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/card2_sm-@1x_result.png 1x,
                ./images/products/card2_sm-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <img
              class="products_image"
              src="./images/products/card2_sm-@1x_result.png"
              alt="The glass of icecoffee"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="products_card--name">ice coffee</h3>
        <p class="products_card--description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products_arrow js-open-modal" data-modal="6">
          <svg width="40px" height="16px">
            <use href="./images/icons.svg#icon-default_arrow"></use>
          </svg>
        </button>
      </li>
      <li
        class="products_card card-brown"
        data-aos="flip-up"
        data-aos-duration="700"
        data-aos-delay="200"
      >
        <div class="products_image--block">
          <picture>
            <!-- Desktop screen -->

            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products/card3_lg-@1x_result.png 1x,
                ./images/products/card3_lg-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/card3_md-@1x_result.png 1x,
                ./images/products/card3_md-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/card3_sm-@1x_result.png 1x,
                ./images/products/card3_sm-@2x_result.png 2x
              "
              type="image/jpg"
            />
            <img
              class="products_image"
              src="./images/products/card3_sm-@1x_result.png"
              alt="Sweet drinks in glass"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="products_card--name">milkshakes</h3>
        <p class="products_card--description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products_arrow js-open-modal" data-modal="7">
          <svg width="40px" height="16px">
            <use href="./images/icons.svg#icon-default_arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
