<section class="reviews section">
  <div class="gallery container">
    <img
      src="./images/portfolio/portfolio1_sm-@1x_result.jpg"
      alt="A lot of ice cream"
      class="gallery_card"
    />
  </div>
  <div class="reviews_container container">
    <div class="reviews_photo">
      <img
        src="./images/review/review1_sm-@1x_result.jpg"
        alt="Girl"
        class="reviews_image"
      />
    </div>
    <div class="reviews_opinion">
      <p class="reviews_text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="reviews_who">Emily, Los Angeles</p>
  </div>
</section>
