// ========== HTML-коди кнопок з відповідними класами =========

// <button class="btn btn--readmore">
//     Read more
//     <div class="btn_container">
//       <svg class="btn_icon" width="12" height="12">
//         <use href="./images/icons.svg#icon-arrow_right"></use>
//       </svg>
//     </div>
//   </button>

//  <button class="btn btn--ourlocations" type="button">
//     Our Locations
//     <div class="btn_container">
//       <svg class="btn_icon" width="12" height="12">
//         <use href="./images/icons.svg#icon-arrow_right"></use>
//       </svg>
//     </div>
//   </button>

// <button class="btn btn--buynow" type="button">
//     Buy now
//     <div class="btn_container">
//       <svg class="btn_icon" width="12" height="12">
//         <use href="./images/icons.svg#icon-arrow_right"></use>
//       </svg>
//     </div>
//   </button>

// <button class="btn btn--franchise" type="button">Franchise</button>

// <button class="btn btn--products" type="button">Products</button>

// <button class="btn btn--howmade" type="button">How it’s made?</button>

@mixin btnFontMod($f-size, $l-height) {
  font-size: $f-size;
  line-height: $l-height;
}

@mixin btnLookMod($bg-color, $b-color, $b-radius) {
  background-color: $bg-color;
  border-color: $b-color;
  border-radius: $b-radius;
}

@mixin btnUsed($color, $bg-color, $b-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $b-color;
}

.btn {
  @include btnFontMod(14px, 1.29);
  @include btnLookMod($btn-def, $btn-def, 10px);

  padding: 0 0 0 32px;
  height: 42px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  color: #000000;
  border-width: 2px;
  border-style: solid;

  &:hover {
    @include btnUsed(currentColor, $btn-h_f, $btn-h_f);
  }

  &:focus {
    @include btnUsed($burger_close, $btn-h_f, $btn-h_f);
    outline: none;
  }

  &:disabled {
    @include btnUsed(currentColor, $btn-dis, $btn-dis);
  }
}

.btn_container {
  position: relative;
  display: flex;
  align-items: center;
}

.btn_icon {
  position: absolute;
  right: 0;
  transform: translateX(17px);
  fill: currentColor;
}

.btn--readmore {
  padding-right: 49px;
}

.btn--ourlocations {
  min-width: 196px;
  max-width: 196px;
  padding-left: 34px;
}

.btn--buynow {
  @include btnFontMod(14px, 1.2);
  padding-right: 51px;
}

.btn--franchise {
  min-width: 196px;
  max-width: 196px;
  padding-left: 46px;
  background-color: transparent;

  &:hover,
  &:focus,
  &:disabled {
    background-color: inherit;
  }
}

.btn--products {
  @include btnFontMod(8px, 1.25);
  @include btnLookMod(transparent, $btn-def, 8px);
  padding-left: 0;
  width: 60px;
  height: 22px;
  justify-content: center;

  &:hover,
  &:focus,
  &:disabled {
    background-color: inherit;
  }

  @media screen and (min-width: 1200px) {
    @include btnFontMod(14px, 1.29);
    width: 134px;
    height: 42px;
  }
}

.btn--howmade {
  @include btnFontMod(8px, 1.25);
  @include btnLookMod(transparent, transparent, 0);
  padding-left: 0;
  width: 80px;
  height: 22px;
  justify-content: center;
  color: $btn-def;
  text-decoration: underline;

  &:hover {
    @include btnUsed($btn-h_f, transparent, transparent);
  }

  &:focus {
    @include btnUsed($burger_close, transparent, transparent);
    outline: none;
  }

  &:disabled {
    @include btnUsed($btn-dis, transparent, transparent);
  }

  @media screen and (min-width: 1200px) {
    @include btnFontMod(14px, 1.29);
    width: 111px;
  }
}
