// ========== HTML-коди кнопок з відповідними класами =========

// <button class="btn btn--readmore">Read more</button>

// <button class="btn btn--ourlocations">Our Locations</button>

// <button class="btn btn--buynow">Buy now</button>

// <button class="btn btn--franchise">Franchise</button>

// <button class="btn btn--products">Products</button>

// <button class="btn btn--howmade">How it’s made?</button>

@mixin btnFontMod($f-size, $l-height) {
  font-size: $f-size;
  line-height: $l-height;
}

@mixin btnLookMod($bg-color, $b-color, $b-radius) {
  background-color: $bg-color;
  border-color: $b-color;
  border-radius: $b-radius;
}

@mixin btnUsed($color, $bg-color, $b-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $b-color;
}

.btn {
  @include btnFontMod(14px, 1.29);
  @include btnLookMod(#f8d24e, #f8d24e, 10px);
  height: 42px;
  padding: 0 0 0 32px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
  color: #000000;
  border-width: 2px;
  border-style: solid;

  &:hover {
    @include btnUsed(currentColor, #0a8817, #0a8817);
  }

  &:focus {
    @include btnUsed(#fcfcfc, #0a8817, #0a8817);
    outline: none;
  }

  &:disabled {
    @include btnUsed(currentColor, #ababab, #ababab);
  }
}

.btn--readmore {
  padding-right: 49px;
}

.btn--ourlocations {
  min-width: 196px;
  max-width: 196px;  
  padding-left: 34px;
}

.btn--buynow {
  @include btnFontMod(14px, 1.2);
  padding-right: 51px;
}

.btn--franchise {
  min-width: 196px;
  max-width: 196px;
  padding-left: 46px;
  background-color: transparent;

  &:hover,
  &:focus,
  &:disabled {
    background-color: inherit;
  }
}

.btn--products {
  @include btnFontMod(8px, 1.25);
  @include btnLookMod(transparent, #f8d24e, 8px);
  padding-left: 0;
  width: 60px;
  height: 22px;
  justify-content: center;

  &:hover,
  &:focus,
  &:disabled {
    background-color: inherit;
  }

  @media screen and (min-width: 1200px) {
    @include btnFontMod(14px, 1.29);
    width: 134px;
    height: 42px;
  }
}

.btn--howmade {
  @include btnFontMod(8px, 1.25);
  @include btnLookMod(transparent, transparent, 0);
  padding-left: 0;
  width: 80px;
  height: 22px;
  justify-content: center;
  color: #f8d24e;
  text-decoration: underline;

  &:hover {
    @include btnUsed(#0a8817, transparent, transparent);
  }

  &:focus {
    @include btnUsed(#fcfcfc, transparent, transparent);
    outline: none;
  }

  &:disabled {
    @include btnUsed(#ababab, transparent, transparent);
  }

  @media screen and (min-width: 1200px) {
    @include btnFontMod(14px, 1.29);
    width: 111px;
  }
}
