.products_modal {
  @extend %modal;

  @media screen and (min-width: 320px) and (max-height: 967px) {
    max-height: 95vh;
    padding-bottom: 20px;
  }
}

.products_modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_modal--title {
  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-bottom: 20px;
  }
}

.products_modal--image-block {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #9cbe8f;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 0;
    width: 80px;
    height: 80px;
  }
}

.products_modal--image {
  position: absolute;
  bottom: 7px;

  @media screen and (min-width: 320px) and (max-height: 967px) {
    width: 80px;
    height: 80px;
  }
}

.products_components-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 15px;
  }
}

.products_component {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
  @media screen and (min-width: 768px) and (max-height: 967px) {
    width: 65px;
    height: 75px;
  }
}

.component_part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9cbe8f;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
  }

  @media screen and (min-width: 768px) and (max-height: 967px) {
    width: 43px;
    height: 43px;
  }
}

.component_value {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: $text-bl;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.component_name {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.22;
  color: $text-bl;
  margin-top: 8px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.recipe--title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 39px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.recipe_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 11px;
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding: 0px 40px;
  }

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-bottom: 25px;
  }
}

.recipe_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe_ingredient {
  @media screen and (min-width: 320px) and (max-height: 775px) {
    font-size: 11px;
  }
}

// ===================FORM

.products_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px 0px 20px;

  @media screen and (min-width: 768px) {
    padding: 0px 100px 0px 100px;
  }
}

.products_form-input-name {
  width: 100%;
  height: 42px;
  padding: 0px 10px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @media screen and (min-width: 320px) and (max-height: 775px) {
    font-size: 11px;
    height: 30px;
  }

  &:focus {
    border: 1px solid $card2_b-c;
  }

  &:not(:placeholder-shown):required:invalid {
    border: 1px solid $border-color-invalid;
  }

  &:not(:placeholder-shown):required:valid {
    border: 1px solid $border-color-valid;
  }
}

.products_form-input-tel {
  width: 100%;
  height: 42px;
  padding: 0px 10px;
  margin-top: 16px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 8px;
  }

  @media screen and (min-width: 320px) and (max-height: 775px) {
    font-size: 11px;
    height: 30px;
  }

  &:focus {
    border: 1px solid $card2_b-c;
  }

  &:not(:placeholder-shown):required:invalid {
    border: 1px solid $border-color-invalid;
  }

  &:not(:placeholder-shown):required:valid {
    border: 1px solid $border-color-valid;
  }
}

.products_form-textarea {
  width: 100%;
  height: 84px;
  padding: 10px 10px;
  margin-top: 16px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 320px) and (max-height: 775px) {
    font-size: 11px;
  }
}

.products_form-button {
  margin-top: 32px;
  width: 132px;
  // padding-left: 36px;
  // padding-right: 36px;
  @media screen and (min-width: 768px) {
    width: 121px;
  }

  @media screen and (min-width: 320px) and (max-height: 967px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 320px) and (max-height: 775px) {
    padding: 5px;
    font-size: 11px;
    height: 30px;
    width: 90px;
  }
}
.image-block--pink {
  background-color: $pink-product;
}

.products_component--pink {
  border-color: $pink-product;
}

.image-block--brown {
  background-color: $ice-coffe-product;
}

.products_component--brown {
  border-color: $ice-coffe-product;
}
