.about {
    display: flex;
   
    align-items: center;
    padding: 60px 0px;
    background-color: #84A178;;
}

.about_title {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 32px;
}

.about_title--name {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;; 
}

.about_title--description {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FCFCFC;
}

.about_image--block {
    position: relative;
    width: 278px;
    height: 278px;
    margin: 0px auto 62px;
    border-radius: 50%;
    background-color: rgba(248, 210, 78, 0.7);
}

.about_image {
    position: absolute;
    top: 22px;
    width: 278px;
    height: 278px;
    bottom: 12px;
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #FCFCFC;
    margin-bottom: 4px;
    padding: 0px 24px;
    text-align: center;
}

.btn--readmore {
    margin: 20px auto;
    margin-bottom: 43px;
}

.about_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
}

.about_icon-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: #F8D24E;
}

.about_card--value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 18px;
}

.about_card--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #FCFCFC;
    padding: 0px 20px;
}