.about {
    display: flex;
    align-items: center;
    padding: 60px 0px;
    padding-bottom: 0px;
    background-color: $primary_b-c;;
}

.about_title {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 32px;
}

.about_title--name {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-wh; 
}

.about_title--description {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: $text-wh;
}

.about_container {
    @media screen and (min-width: 768px) 
    {
        display: flex;
        flex-direction:row;
    }   
    }

.about_container--box {
    @media screen and (min-width: 768px) 
    {
      width: 50%;
    }
}



.about_image--block {
    position: relative;
    width: 278px;
    height: 278px;
    margin: 0px auto 62px;
    border-radius: 50%;
    background-color: rgba(248, 210, 78, 0.7);
}

.about_image {
    position: absolute;
    top: 22px;
    width: 278px;
    height: 278px;
    bottom: 12px;
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: $text-wh;
    margin-bottom: 4px;
    padding: 0px 24px;
    text-align: center;

    @media screen and (min-width: 768px) 
    {
      text-align: start;
      margin-bottom: 8px;
      padding: 0px;
    }
}

.text-hidden {
    @media screen and (max-width: 767px) 
    {
    display: none;
}
}

.btn--readmore {
    margin: 20px auto;
}

.about_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
}

.about_icon-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: $logo;
}

.about_card--value {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-wh;
    margin-bottom: 18px;
}

.about_card--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: $text-wh;
    padding: 0px 20px;
}