.benefits {
    display: flex;
    align-items: center;
    padding: 32px 0px;
    padding-top: 22px;
    background-color: $primary_b-c;

    @media screen and (min-width: 768px) 
    {
        padding-top: 53px;
        padding-bottom: 30px;    
}
@media screen and (min-width: 1200px) 
{
    padding-top: 100px;
    padding-bottom: 50px;
}
}

.benefits_box {
    @media screen and (min-width: 768px) 
    {
        padding: 0px 56px;
        display: flex;
        flex-direction: row;
        gap: 60px;
}
@media screen and (min-width: 1200px) 
{
    padding-left: 30px;
    padding-right: 30px;
}}

.benefits_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;

    @media screen and (min-width: 768px) 
    {
        margin-bottom: 0px;
}
}

.benefits_icon-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: $logo;

    @media screen and (min-width: 768px) 
    {
        margin-bottom: 32px;
}
@media screen and (min-width: 1200px) 
{
    margin-bottom: 40px;
}}

.benefits_card--value {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-wh;
    margin-bottom: 18px;

    @media screen and (min-width: 768px) 
    {
    font-size: 48px;
    line-height: 1.22;
    margin-bottom: 16px;
}
@media screen and (min-width: 1200px) 
{
font-size: 58px;
}}

.benefits_card--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: $text-wh;
    padding: 0px 20px;

    @media screen and (min-width: 768px) 
    {
        font-weight: 400;
        font-size: 14px;
        line-height: 174%;
        padding: 0px 10px;
}
@media screen and (min-width: 1200px) 
{
font-size: 16px;
}}