.contacts {
  padding-top: 30px;
  padding-bottom: 40px;
  background: linear-gradient($transparent_b-c 23.5%, $primary_b-c 23.5%);

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    background: linear-gradient($transparent_b-c 50%, $primary_b-c 50%);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 120px;
    background: linear-gradient($transparent_b-c 19%, $primary_b-c 19%);
  }
}

.contacts_cards-set {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
    margin-bottom: 64px;
  }
}

.contact-card-container {
  padding: 40px 32px;
  background-color: $text-wh;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 224px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 368px;
    font-size: 16px;
    padding: 40px;
  }
}

.card-partial {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border-contacts-card;

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.card-category-name {
  width: 80px;
  background-color: $logo;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 73px;
    margin-bottom: 32px;
  }
}

.name-foodtruck {
  width: 130px;
}

.card-city-name {
  margin-bottom: 8px;
}

.card-city-link {
  font-size: inherit;
  font-weight: inherit;
  line-height: 183%;
  color: $for_contacts;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $for_contacts;
  }
}

.contact-card_links {
  font-size: inherit;
  font-weight: inherit;
  line-height: 183%;
  color: inherit;
}

.card-partial_working-hours {
  color: $btn-dis;
}

.contacts_button-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}

.contacts_button {
  margin: auto;
  margin-bottom: 16px;
  position: relative;
}

.contacts_button-icon {
  stroke: currentColor;
}
